@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
	background-color: #f1eff0;
	color: #000;
	margin: 0;
	font-family: 'Varela Round', sans-serif;
	font-size: 0.85em;
	font-stretch: condensed;
	font-style: normal;
}

.resultbox{
	width: 100%;
	padding: 0 15px;

}
.narrow_display{
  width: 100%;
	clear: both;
}

.wide_display{
  width: 100%;
  clear: both;
}

.buttonDisabled{
  background: #DDDDDD;
    border: 1px solid rgba(0, 0, 0, 0.20);
  padding: 10px 20px;
  border-radius: 20px;
  color: #000;
  cursor: not-allowed;
}

.buttonEnabled{
  /* background: #77FF77; */
  color: #000;
  background-image: linear-gradient(to top, #15d8e2 0%, #54ef93 100%);
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* loantype heading*/
.loanType.wide , .loanType.narrow{
	position: relative;
	background: rgb(203, 212, 212);
	color: rgb(33, 37, 41);
	font-family: Arial;
	font-size: 1.5em;
	font-stretch: normal;
	font-weight: 700;
	padding: 20px 30px;
	width: 100%;
	color: white;
	cursor: pointer;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(to top, #15d8e2 0%, #54ef93 100%);
}

.loanType.wide::after {
	   position: absolute;
   top: 50%;
   right: 25px;
   transform: translateY(-50%);
}

#grasform {
	font-size: 18px;
}

.loanType.wide::after, .loanType.narrow::after{
   content: 'hide';
   border: 1px solid #ffffff;
   border-radius: 9px;
   font-size: 13px;
   font-weight: 300;
   padding: 5px 10px;
   cursor: pointer;
   box-shadow: 1px 1px 1px #ffe5e5;
}

.loanType.wide.showLoanTable::after, .loanType.narrow.showLoanTable::after {
	content: 'open';
}

.loanType.wide.showLoanTable + table { display: none; }
.loanType.narrow.showLoanTable + table { display: none; }
	
th.narrow{
	width: 50%;
	vertical-align: top;
  text-align: left;
}

td.narrow{
  width: 50%;
  vertical-align: top;
  text-align: left;
}

table{
	width: 100%;
	border: none;
	border-collapse: collapse;
}

.loanTable{
  page-break-inside: avoid; /* hindrer at tabell splittes ved utskrift*/
}

th,td{
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  white-space: nowrap;
}

/* left adjusted columns*/ 
.financialInstitutionName, .installmentChargePeriod, .coBorrower, .receivedTime, .processedTime{
  vertical-align: top;
  text-align: left;
}

/* right adjusted columns*/
.originalBalance, .balance, .creditLimit, .interestBearingBalance, .nonInterestBearingBalance, .terms, .nominalInterestRate, .installmentCharges{
  vertical-align: top;
  text-align: right;
}

.receivedTime{
  float:left;
}

.financialInstitutionName{
  font-weight: 700; 
}

.sumTotal{
  font-weight: 700;
  vertical-align: top;
  text-align: left;
}

.sumCreditLimit, .sumInterestBearingBalance, .sumNonInterestBearingBalance{
  font-weight: 700;
  vertical-align: top;
  text-align: right;
}

.stripe{
  background: #EEEEEE;	
}

.spaceBeforeLoanType{
  padding: 10px;
  clear: both;
}

.spaceBeforeSum{
  padding: 10px;
  clear: both;
}

.spaceBeforeFooter{
  padding: 10px;
  clear: both;
}

.message{ /* melding fra gjeldsregisteret. F.eks.: Ingen usikret gjeld er registrert ++*/
  padding-left: 0.5em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  font-weight: 700; 
}

.errorMessage h2{ /* melding fra infotorg. F.eks.: feil med id-token ++*/
  font-size: 2em;
}

.errorMessage{ /* melding fra infotorg. F.eks.: feil med id-token ++*/
  padding: 0.5em;
}

p.feil{ /* Feilet mot Transaksjonsmotor */
	padding: 0.5em;
	font-weight: 700; 
}

.heading{
  padding-left: 0.5em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.6;
}

.headerInfo{
	white-space: nowrap;
}

.headerFnr{
  white-space: nowrap;
}

.summeringTotal{
	width: 20em;
	font-size: 13.9px;
}

.summeringTotal th{
	vertical-align: top;
  text-align: left;
}

.delGjeldsinfo{
  float: left;
}

#delGjeldButton{
  float: left;
}

.deltGjeldsinfoMelding{
  float: left;
  width: 50%;
  padding-top: 20px;
  display: none;
}

.deltGjeldsinfoError{
  padding-left: 20px;
  color: #FF0000;
  float: left;
}

.footer{
	padding: 0.5em;
	padding-bottom: 2em;
}

.nota{
  width: 90%; /*ie tilpasning*/
  clear: both;
  padding-bottom: 2em;
}

.notaSign{
	color: #FF8C00; 
	font-weight: bold; 
	cursor: default;
	padding: 0.5em;
}

.notaText{
  
}

.loanTable {
	width: 100%;
}

.loanTable tr:nth-of-type(odd) {
  background: #f6f6f6;
}

.loanTable tr:nth-of-type(even) {
  
  background: #dcedff;
}

.loanTable th, .loanTable td {
	padding: 12px 5px;
	text-align: left;
}

/*--------- Narrow screen ------------*/
@media only screen and (max-width: 1200px)  { 
	.narrow_display{
	  display: block!important;
	}
  .wide_display{
    display: none!important;
  }
}

/*--------- wide screen ------------*/
@media only screen and (min-width: 1201px)  {
	.narrow_display{
    display: none!important;
  }
  .wide_display{
    display: block!important;
  }
}
